<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<div class="main-app">
    <div class="row">
        <div class="col-5 sidebar">
            <nav class="main-nav">
                <ul class="main-menu">
                    
                    <li class="menu-item">
                        <a href="#" class="menu-a" target="_blank">
                            <div class="menu-txt-hld">
                                <i class="bi bi-geo-alt-fill  menu-icon"></i>
                                <span class="menu-txt">Bản đồ</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="#" class="menu-a" target="_blank">
                            <div class="menu-txt-hld">
                                <i class="fa fa-bar-chart menu-icon"></i>
                                <span class="menu-txt">Thống kê</span>
                            </div>
                        </a>
                    </li>
                    
                    <li class="menu-item">
                        <a href="#" class="menu-a" target="_blank">
                            <div class="menu-txt-hld">
                                <i class="fa fa-user-circle menu-icon"></i>
                                <span class="menu-txt">My profile</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
