<script src="./js/Slidebar.js"></script>
<div class="wrapper">
    <div class="col">
        <form method="post" action="/store">
            <div class="row FormInput">

                <div class="col-sm-4">
                    <select class="form-select" id="Select_Item" aria-label="Default select example" style="width:100%">
                        <option value="1">Function</option>
                        <option value="2">Point</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <!----------------Search------------------->
                <div id="myDIV" class="header_r">
                    <input type="text" id="myInput" placeholder="Place..." onkeyup="myFunction(event)">
                    <span onclick="newElement()" class="addBtn">Add</span>
                </div>
                
            </div>
        </form>
        <ul class="List_DS">

        </ul>

    </div>

</div>