
<div class="wrapper" >
    <div class="col">
        <div class=" d-flex justify-content-center FormInput">
         <input  type="text" placeholder="Add new .." id="myInput"> <button type="submit" class="btn btn-primary" id="mySubmit"  >Add</button>
        </div>
   
            <ol class="List_DS">
           
            </ol>

    </div>    

</div>

<script>

</script>
