<script src="./js/Slidebar.js"></script>
<div class="wrapper">
    <div class="col">
        <form method="post" action="/store">
            <div class="row ">
                <!----------------Search------------------->
                <div id="myDIV" class="header_r">
                    <input type="text" id="myInput" placeholder="Place..." onkeyup="myFunction(event)">
                    <span onclick="newElement()" class="addBtn">Add</span>
                </div>
                
            </div>
        </form>
        <ul class="List_DS">

        </ul>
    </div>

</div>